.nav {
    width: 35%;
    height: 100vh;
    max-width: 250px;
    padding: 30px 0px;
    background-color: red;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;  
        margin: 0;
        padding: 0;     
    }


    &__item {
        width: 100%;
        font-size: 24px;
        padding-bottom: 5px;   

        &:hover {
            background-color:#B0B0B0 ;
        }

        & a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #111;

            &:hover {
                color: #fff;
            }

            &:active {
                color: #444;
            }
        }

        &--active {
            width: 100%;
            font-size: 24px;
            padding-bottom: 5px;   
            background-color:#4B4B4B ;
    
            &:hover {
                background-color:#8A8A8A ;
            }

            & a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #fff;
        
                &:active {
                    color: #444;
                }
            }
        }
    }

    &__icon {
        margin: 10px 30px;
        width: 32px;
    }
}

@media (max-width: 1024px) {
    .nav { 
        width: 150px;
    }

    &__item {
        font-size: 16px;
        margin-bottom: 5px;   

        & a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            color: #111;

            &:hover {
                color: #999;
            }

            &:active {
                color: #999;
            }

            &:visited {
                color: #111;
            }
        }
    }
}